* {
  margin: 0;
  box-sizing: border-box;
}

body {
  /* Positioning */
  width: 100%;
  height: 100%;

  /* Typography */
  font-family: 'Source Sans Pro', sans-serif;

  /* Visuals */
  background-color: white;
}

.header {
  /* Positioning */
  width: 100%;
  height: 100%;

  /* Visuals */
  background-color: #1e2431;

  /* Misc */
  overflow: hidden;
}

.section {
  /* Box Model */
  padding: 0 40px;
}

.container {
  /* Positioning */
  width: 100%;
  max-width: 1000px;
  height: 100%;

  /* Box Model */
  margin: 0 auto;
}

.brand-logo {
  /* Positioning */
  float: left;
  width: 25%;
  height: 100%;

  /* Box Model */
  margin-left: 40px;
}

.logo {
  /* Positioning */
  width: 65%;
  height: 65%;

  /* Box Model */
  padding: 20px;
}

.navbar {
  /* Positioning */
  float: right;
  height: 100%;

  /* Box Model */
  margin-top: 12px;
  margin-right: 40px;

  /* Typography */
  text-align: right;

  /* Visuals */
  list-style: none;
  color: white;
}

li {
  /* Positioning */
  width: calc(33.33% - 40px / 3px);

  /* Box Model */
  display: inline-block;
  margin: 5px;
  padding: 10px;

  /* Typography */
  text-align: center;

  /* Visuals */
  background-color: #1e2431;
}

li a {
  /* Box Model */
  padding: 10px;

  /* Typography */
  text-decoration: none;

  /* Visuals */
  color: #797b81;
}

.signup {
  /* Visuals */
  color: white;
  background-color: #34cb7c;
  border-radius: 4px;
}

#signup-link-1 {
  /* Typography */
  text-transform: uppercase;

  /* Visuals */
  color: white;
}

.product-description {
  /* Positioning */
  width: 100%;
  height: 100%;

  /* Box Model */
  padding-top: 100px;
  padding-bottom: 150px;

  /* Visuals */
  background-color: #1e2431;

  /* Misc */
  overflow: hidden;
}

.product-info {
  /* Positioning */
  float: left;
  width: 50%;
  height: 100%;

  /* Box Model */
  margin-top: 40px;
  padding-left: 40px;
}

.company-slogan {
  /* Box Model */
  margin-bottom: 20px;
  padding-right: 100px;

  /* Typography */
  font-size: 1.8em;
  font-weight: 300;
  letter-spacing: 1px;

  /* Visuals */
  color: white;
}

.company-message {
  /* Box Model */
  margin-bottom: 20px;
  padding-right: 100px;

  /* Typography */
  font-size: 0.9em;
  font-weight: 300;

  /* Visuals */
  color: #d5d6da;
}

.email {
  /* Box Model */
  margin-right: 10px;
  padding: 10px 80px 10px 10px;

  /* Typography */
  font-size: 0.6em;

  /* Visuals */
  border: none;
  border-radius: 2px;
}

#signup-link-2 {
  /* Box Model */
  padding: 9px 40px;

  /* Typography */
  border-radius: 2px;
  font-size: 0.7em;
  text-decoration: none;

  /* Visuals */
}

.video {
  /* Positioning */
  position: relative;
  float: left;
  width: 50%;

  /* Box Model */
  padding-right: 40px;
}

.product-video {
  /* Positioning */
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
}

.play-button {
  /* Positioning */
  position: absolute;
  width: 16%;
  height: 25%;
  top: 35%;
  left: 38%;
}

.product-features {
  /* Positioning */
  width: 100%;
  height: 100%;

  /* Box Model */
  padding: 80px 220px;

  /* Visuals */
  background-color: #f7f8fd;

  /* Misc */
  overflow: hidden;
}

.feature {
  /* Positioning */
  float: left;
  width: calc(33.33% - 10px);

  /* Box Model */
  border: 1px solid #e7e6e7;
  border-radius: 2px;
  box-shadow: 1px 3px 1px #e7e6e7;
  margin: 0 5px;
  padding: 40px;

  /* Visuals */
  background-color: #fefffe;
}

.icon {
  /* Positioning */
  width: 40px;
  height: 40px;

  /* Box Model */
  margin-bottom: 15px;
  padding: 10px;

  /* Visuals */
  background-color: #3a7acb;
}

.feature-header {
  /* Box Model */
  margin-bottom: 15px;

  /* Typography */
  font-size: 1em;
  font-weight: 700;
}

.feature-description {
  /* Typography */
  font-size: 0.9em;
  font-weight: 300;

  /* Visuals */
  color: #8d929d;
}

.slack {
  /* Positioning */
  width: 100%;
  height: 100%;

  /* Box Model */
  padding-top: 200px;
  padding-bottom: 250px;

  /* Visuals */
  background-color: #f7f8fd;

  /* Misc */
  overflow: hidden;
}

.slack .container {
  /* Positioning */
  position: relative;
}

.slack-info {
  /* Positioning */
  float: left;
  width: 50%;
  height: 100%;

  /* Box Model */
  padding: 50px;
}

.slack-header {
  /* Box Model */
  margin-bottom: 15px;

  /* Typography */
  font-size: 1.5em;
  font-weight: 700;
}

.slack-description {
  /* Box Model */
  margin-bottom: 30px;
  padding-right: 70px;

  /* Typography */
  font-size: 1.1em;
  font-weight: 300;

  /* Visual */
  color: #8d929d;
}

#signup-link-3 {
  /* Box Model */
  padding: 10px 20px;

  /* Typography */
  text-decoration: none;
}

.slack-img {
  /* Positioning */
  position: absolute;
  top: -150px;
  left: 520px;
  width: 90%;
}
